body {
    font-family: Arial, sans-serif;
    background-color: #c7d9dd;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #d5e5d5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    flex: 1;
}

button {
    padding: 10px;
    background: #adb2d4;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li button {
    background: #57b4ba;
    border: none;
    color: white;
    cursor: pointer;
}

li button:hover {
    background: #015551
}